<% include ../partials/header.ejs %>

<div class="container center-align">
  <div class="loginSignup-container">
    <h4>Login</h4>
    <form action="/login" method="POST">
      <input type="text" name="username" placeholder="Username" />
      <input type="password" name="password" placeholder="Password" />
      <button class="btn">Submit</button>
    </form>
  </div>
</div>

<% include ../partials/footer.ejs %>
