<% include partials/header.ejs %>
<div class="ui one column stackable center aligned page grid">
        <div class="column twelve wide">
            <h1>Biggest CMS Of future</h1>
        </div>
     </div>

<% include partials/footer.ejs %>
